<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <table *ngIf="arrayNotifs != null && arrayNotifs.length > 0">
    <tr *ngFor="let noti of arrayNotifs">
      <!--<list-notifications></list-notifications>-->
      {{noti.text}}
    </tr>
  </table>
  <h1 *ngIf="arrayNotifs == null || arrayNotifs.length === 0">
    Não há notificações
  </h1>

  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
