<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list style="text-align: center" >
    <ion-item>
      <ion-label style="text-align: center; font-weight: bold;font-size: large;">Mensagem</ion-label>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="text" style="background-color: lightyellow;" (change)='updateValue()'></ion-input>
    </ion-item>



    <ion-item>
      <ion-label style="text-align: center;font-weight: bold;font-size: large; ">Informe o tempo do seu lembrete...</ion-label>
    </ion-item>
    <ion-item (click)="updateValue()">
      <ion-segment [(ngModel)]="time" color="default" >
        <ion-segment-button value="mins" id="minutesSegment" (click)="minutesSelected()">Minutos</ion-segment-button>
        <ion-segment-button value="hrs" id="hoursSegment" (click)="hoursSelected()">Horas</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-input hidden='true' id="showMinutes" >{{showRangeMinutes}}</ion-input>
    <ion-item *ngIf="showRangeMinutes" (click)="updateValue()">
      <ion-badge item-right style="width:40px;">{{countMin}}</ion-badge>
      <ion-range min="1" max="200" [(ngModel)]="countMin" color="secondary">
        <ion-label range-left>1</ion-label>
        <ion-label range-right>200</ion-label>
      </ion-range>
    </ion-item>
    <ion-item *ngIf="!showRangeMinutes" (click)="updateValue()" >
      <ion-badge item-right style="width:40px;">{{countHr}}</ion-badge>
      <ion-range min="1" max="24" [(ngModel)]="countHr" color="secondary">
        <ion-label range-left>1</ion-label>
        <ion-label range-right>24</ion-label>
      </ion-range>
    </ion-item>

  </ion-list>

  <ion-label></ion-label>

</ion-content>
<script>
$ready(function () {
  if ($('#showMinutes').val()) {
    console.log('showminutes... ');
    $('#minutesSegment').addClass('segment-activated');
  } else {
    console.log('showhours... ');
    $('#hoursSegment').addClass('segment-activated');
  }
})

</script>