<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configuração</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list style="text-align: center" >
    <ion-item>
      <ion-label style="text-align: center; font-weight: bold;font-size: large;">
        <ion-icon name="text"></ion-icon>
        Mensagem</ion-label>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="text" style="background-color: floralwhite;" (change)='updateValue()' 
          placeholder="Informe aqui a mensagem..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="text-align: center;font-weight: bold;font-size: large; ">
        <ion-icon name="clock"></ion-icon>
        Tempo de lembrete...</ion-label>
    </ion-item>
    <ion-item (click)="updateValue()"><!--class="segment segment-ios ng-valid ng-dirty"-->
      <ion-segment ng-value="time"   >
        <ion-segment-button value="minutes" id="minutesSegment" (ionSelect)="minutesSelected()" [ngClass]="{ 'segment-activated':(showRangeMinutes)}">Minutos</ion-segment-button>
        <ion-segment-button value="hours" id="hoursSegment" (ionSelect)="hoursSelected()" [ngClass]="{ 'segment-activated':(!showRangeMinutes)}">Horas</ion-segment-button>
      </ion-segment>
    </ion-item>
    <ion-input hidden='true' id="showMinutes" >{{showRangeMinutes}}</ion-input>
    <ion-item *ngIf="showRangeMinutes" >
      <ion-badge item-left style="width:40px;" >{{countMin}}</ion-badge>
      <ion-range min="1" max="200" [(ngModel)]="countMin" (ionBlur)="updateValue()" color="secondary">
        <ion-label range-left>1</ion-label>
        <ion-label range-right>200</ion-label>
      </ion-range>
    </ion-item>
    <ion-item *ngIf="!showRangeMinutes"  >
      <ion-badge item-left style="width:40px;">{{countHr}}</ion-badge>
      <ion-range min="1" max="24" [(ngModel)]="countHr" (ionBlur)="updateValue()" color="secondary">
        <ion-label range-left>1</ion-label>
        <ion-label range-right>24</ion-label>
      </ion-range>
    </ion-item>

  </ion-list>

  <ion-label></ion-label>

</ion-content>

